@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

:root {
  --dark-color-a: #b31929;
  --dark-color-b: #b31929;
  --light-color: #fadcdf;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background: var(--light-color);
}

#nav {
  background-color: #a7333f;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#leave-room.btn,
#send.btn-large {
  cursor: pointer;
  background: var(--light-color);
  color: var(--dark-color-a);
}

/* Chat Page */

.chat-container {
  max-width: 100%;
  background: #fff;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.chat-header {
  background: var(--dark-color-a);
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;*/
}

.chat-main {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 3fr;
  position: fixed;
  height: 100vh;
  width: 100%;
}

.chat-sidebar {
  background: var(--dark-color-b);
  color: #fff;
  padding: 20px 20px 60px;
  overflow-y: scroll;
  /*position: fixed;
  top: 68px;*/
  height: 100%;
  width: auto;
}

.chat-sidebar h2 {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 20px;
}

.chat-sidebar h3 {
  margin-bottom: 15px;
}

.chat-sidebar ul li {
  padding: 10px 0;
}

.chat-messages {
  /*padding: 30px 30px 150px 30px;*/
  padding: 30px;
  overflow-y: scroll;
  height: calc(100% - 120px);
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  position: relative;
}

.chat-messages .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: #c44552;
  border-radius: 5px;
}

.chat-messages .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: var(--light-color);
  opacity: 0.7;
  margin-bottom: 7px;
}

.chat-messages .message .meta span {
  color: white;
}

.chat-form-container {
  padding: 20px 30px;
  background-color: var(--dark-color-a);
  width: 100%;
  position: fixed;
  bottom: 0;
}

.chat-form-container form {
  display: flex;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

/* Join Page */

#join-chat {
  background-color: #a7333f;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #a7333f;
  box-shadow: 0 1px 0 0 #a7333f;
}

ul.dropdown-content.select-dropdown li span {
  color: #a7333f;
}

@media (max-width: 700px) {
  .chat-main {
    display: block;
  }

  .chat-sidebar {
    display: none;
  }
}
